<style>
    img {
        border-radius: 20%;
    }
</style>


<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user_page', username=post.author.username) }}">
                <img src="{{ post.author.avatar }}" alt="Avatar" width="40" height="40">
                <font color="black">{{ post.author.username }}</font>
            </a>

            <small>{{ moment(post.publish_time).fromNow() }}</small>
            <br>
            <a>{{ post.body }}</a>
        </td>
    </tr>
</table>


