<style>
    img {
        border-radius: 20%;
    }
</style>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <a href="{{ url_for('user_page', username=post.author.username) }}">
                        <img src="{{ post.author.avatar }}" alt="Avatar" width="80%">
                        <font size="4" color="black">{{ post.author.username }}</font>
                    </a>
                </div>
                <div class="col-sm-9 col-md-7">
                    <a>{{ post.body }}</a>

                </div>
                <div class="col-sm-3 col-md-3">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false" size="5%">...</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href={{ url_for("edit_post", post_id=post.id) }}>Edit</a>
                        <a class="dropdown-item" href={{ url_for("delete_post", post_id=post.id) }}>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{#<table class="table table-hover">#}
{#    <tr>#}
{#        <td>#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-sm-1 col-md-1">#}
{#                        <a href="{{ url_for('user_page', username=post.author.username) }}">#}
{#                            <img src="{{ post.author.avatar }}" alt="Avatar" width="40" height="40">#}
{#                            <br>#}
{#                            <font size="4" color="black">{{ post.author.username }}</font>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div>#}
{#                        <small>{{ moment(post.publish_time).fromNow() }}</small>#}
{#                        <br>#}
{#                        <a>{{ post.body }}</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </td>#}
{#    </tr>#}
{#</table>#}

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-sm-3 col-md-2">#}
{#            <a href="{{ url_for('user_page', username=post.author.username) }}">#}
{#                <img src="{{ post.author.avatar }}" alt="Avatar" width="40" height="40">#}
{#                <h6><font color="black">{{ post.author.username }}</font></h6>#}
{#            </a>#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-sm-auto col-md-auto">#}
{#            <a>{{ post.body }}</a>#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-sm-12 col-md-12">#}
{#            <hr style="width:50%;text-align:left;margin-left:0">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-sm-3 col-md-2">#}
{#            <a href="{{ url_for('user_page', username=post.author.username) }}">#}
{#                <img src="{{ post.author.avatar }}" alt="Avatar" width="40" height="40">#}
{#                <h6><font color="black">{{ post.author.username }}</font></h6>#}
{#            </a>#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-sm-auto col-md-auto">#}
{#            <a>{{ post.body }}</a>#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-sm-12 col-md-12">#}
{#            <hr style="width:50%;text-align:left;margin-left:0">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
