{% extends "bootstrap/base.html" %}

{% block title %}
    My flask project
{% endblock %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}

{% block content %}
    {% block sub_content %}
    {% endblock %}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}

                    <div  class="alert alert-{{ category }}"> {{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}