{% extends "base.html" %}

{% block sub_content %}
    <div class="container-narrow">
        <h3 class="mt-5">Sing up</h3>
        <br/>
        <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            {{ form.csrf_token }}
            <div class="form-group w-25">
                {{form.username(placeholder="Username", class_="form-control")}}
            </div>
            <div class="form-group w-25">
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group w-25">
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group w-25">
                {{form.confirm(placeholder="Password (again)", class_="form-control")}}
            </div>
            <p><input class="btn btn-info" type="submit" value="Register"></p>
        </form>
        <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
    </div>


{% endblock %}