{% extends "base.html" %}

{% block sub_content %}
    <div class="container-narrow">
        <h3 class="mt-5">Welcome back!</h3>
        <br/>
        <form id="SignInForm" method="POST" role="form">
            {{ form.csrf_token }}
            <div class="form-group w-25">
                {{ form.username(placeholder="Username", class_="form-control") }}
            </div>
            <div class="form-group w-25">
                {{ form.password(placeholder="Password", class_="form-control") }}
            </div>
            <p><input class="btn btn-info" type="submit" value="Sing in"></p>
        </form>
        <p>Click <a href={{ url_for("sign_up") }}>here</a> to register.</p>
    </div>
{% endblock %}
