{% extends "base.html" %}


{% block  sub_content %}
    <table class="table">
        <tr>
            <td width="256px"><img src="{{ user.avatar }}" alt="Avatar" width="120" height="120"></td>
            <td width="256px">
                <h3>{{ user.username }}</h3>
                {% if user.bio %}
                    <font color="gray">{{ user.bio }}</font>
                {% endif %}
                {% if user == current_user %}
                    <a href={{ url_for("edit_bio", username=user.username) }}><font color="#a9a9a9" size="1">edit
                        bio</font></a>
                {% endif %}
            </td>
            <td width="256px">
                {% if create_post_form %}
                    <form id="CreatePostForm" method="POST" role="form">
                        {{ form.csrf_token }}
                        <div class="form-group w-50">
                            {{ form.post(placeholder="What's up", class_="form-control") }}
                        </div>
                        <p>
                            <input class="btn btn-info" type="submit" value="Post">
                            <a class="btn btn-outline-secondary" role="button" href={{ url_for("me") }}>Close</a>
                        </p>

                    </form>
                {% else %}
                    {% if user == current_user %}
                        <a href={{ url_for("create_post", username=user.username) }}>
                            <button type="button" class="btn btn-outline-info">Write a post</button>
                        </a>
                    {% endif %}
                {% endif %}

                <p></p>
                {% for post in posts %}
                    {% include 'blog/_post.html' %}
                {% endfor %}
            </td>

        </tr>
    </table>

{% endblock %}