{% extends "base.html" %}


{% block  sub_content %}

    <div class="container user_subcontent" style="margin-top: 5%;margin-right: 5%">
        <div class="row">
            <div class="col-sm col-md-4">
                <img src="{{ user.avatar }}" alt="Avatar" width="55%"
                     style="margin-left: 5%;margin-top: 5%">
            </div>
            <div class="col-sm col-md-2">
                <h3 style="margin-top: 5%">{{ user.username }}</h3>
                {% if user.bio %}
                    <font color="gray">{{ user.bio }}</font>
                {% endif %}
                {% if user == current_user %}
                    <a style="margin-top: 5%" href={{ url_for("edit_bio", username=user.username) }}><font
                            color="#a9a9a9" size="1">edit
                        bio</font></a>
                {% endif %}
            </div>
            <div class="col-sm col-md-6">
                <form id="CreatePostForm" method="POST" role="form" style="display:none;">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.post(placeholder="What's up", class_="form-control") }}
                    </div>
                    <p>
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <input class="btn btn-info" name="post" type="submit" value="Post">
                        <button id="hidePostForm" class="btn btn-outline-secondary" role="button">Close</button>
                    </p>

                </form>
                {% if user == current_user %}
                    <button id="showCreatePostForm" type="button" class="btn btn-outline-info">Write a post</button>
                {% endif %}
                <br>
                <br>
                {% for post in posts %}
                    {% include 'blog/_post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/addPost.js"></script>
{% endblock %}
